<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>HospitalProjectTry2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.nt.servlet.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.nt.servlet.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorServlet1</display-name>
    <servlet-name>DoctorServlet1</servlet-name>
    <servlet-class>com.nt.doctor.DoctorServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorServlet1</servlet-name>
    <url-pattern>/DoctorServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorServlet2</display-name>
    <servlet-name>DoctorServlet2</servlet-name>
    <servlet-class>com.nt.doctor.DoctorServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorServlet2</servlet-name>
    <url-pattern>/DoctorServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientServlet1</display-name>
    <servlet-name>PatientServlet1</servlet-name>
    <servlet-class>com.nt.patientStatus.PatientServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientServlet1</servlet-name>
    <url-pattern>/PatientServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterSevlet1</display-name>
    <servlet-name>RegisterSevlet1</servlet-name>
    <servlet-class>com.nt.register_servlet.RegisterSevlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterSevlet1</servlet-name>
    <url-pattern>/RegisterSevlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookSessionServlet1</display-name>
    <servlet-name>BookSessionServlet1</servlet-name>
    <servlet-class>com.nt.BookSession.BookSessionServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSessionServlet1</servlet-name>
    <url-pattern>/BookSessionServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>com.nt.servlet.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientStatus</display-name>
    <servlet-name>PatientStatus</servlet-name>
    <servlet-class>com.nt.patientStatus.PatientStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientStatus</servlet-name>
    <url-pattern>/PatientStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllPatient</display-name>
    <servlet-name>ViewAllPatient</servlet-name>
    <servlet-class>com.nt.allpatient.ViewAllPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllPatient</servlet-name>
    <url-pattern>/ViewAllPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignPatient</display-name>
    <servlet-name>AssignPatient</servlet-name>
    <servlet-class>com.nt.assignPatient.AssignPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignPatient</servlet-name>
    <url-pattern>/AssignPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignPatient2</display-name>
    <servlet-name>AssignPatient2</servlet-name>
    <servlet-class>com.nt.assignPatient.AssignPatient2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignPatient2</servlet-name>
    <url-pattern>/AssignPatient2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllotedPatient</display-name>
    <servlet-name>AllotedPatient</servlet-name>
    <servlet-class>com.nt.doctor.AllotedPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllotedPatient</servlet-name>
    <url-pattern>/AllotedPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientInfoInDetails</display-name>
    <servlet-name>PatientInfoInDetails</servlet-name>
    <servlet-class>com.nt.doctor.PatientInfoInDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientInfoInDetails</servlet-name>
    <url-pattern>/PatientInfoInDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiagnoseData</display-name>
    <servlet-name>DiagnoseData</servlet-name>
    <servlet-class>com.nt.doctor.DiagnoseData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiagnoseData</servlet-name>
    <url-pattern>/DiagnoseData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PharmacyServlet1</display-name>
    <servlet-name>PharmacyServlet1</servlet-name>
    <servlet-class>com.nt.pharmacy.PharmacyServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PharmacyServlet1</servlet-name>
    <url-pattern>/PharmacyServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PharmacyServlet2</display-name>
    <servlet-name>PharmacyServlet2</servlet-name>
    <servlet-class>com.nt.pharmacy.PharmacyServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PharmacyServlet2</servlet-name>
    <url-pattern>/PharmacyServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillingServlet</display-name>
    <servlet-name>BillingServlet</servlet-name>
    <servlet-class>com.nt.pharmacy.BillingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillingServlet</servlet-name>
    <url-pattern>/BillingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillingServlet2</display-name>
    <servlet-name>BillingServlet2</servlet-name>
    <servlet-class>com.nt.pharmacy.BillingServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillingServlet2</servlet-name>
    <url-pattern>/BillingServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.nt.pharmacy.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet2</display-name>
    <servlet-name>PaymentServlet2</servlet-name>
    <servlet-class>com.nt.pharmacy.PaymentServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet2</servlet-name>
    <url-pattern>/PaymentServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TotalRevenueServlet</display-name>
    <servlet-name>TotalRevenueServlet</servlet-name>
    <servlet-class>com.nt.servlet.TotalRevenueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalRevenueServlet</servlet-name>
    <url-pattern>/TotalRevenueServlet</url-pattern>
  </servlet-mapping>
</web-app>